@model ProductUpdateViewModel

<h2>Update Product</h2>


<style>
    .btnUpdateDiv {
        width: 100%;
        text-align: center;
        padding: 30px;
    }

</style>

<form asp-action="Update" method="post">

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="btnUpdateDiv">
        <button type="submit" class="btn btn-primary">Update Product</button>
        <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="GetAll">Exit</a>
    </div>
</form>
